Repository su8y/multimodule-gitlab-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger module 1/2, trigger module 2/2

trigger module 1/2:
  stage: trigger-modules
  trigger:
    include: back-end/.gitlab-ci.yml

trigger module 2/2:
  stage: trigger-modules
  trigger:
    include: front-end/.gitlab-ci.yml

fix: Delete only-template
  back-end/.gitlab-ci.yml
  front-end/.gitlab-ci.yml
Due: trigger module 1/2, trigger module 2/2

fix: Rename typo befroe
  front-end/.gitlab-ci.yml
Due: trigger module 2/2

create typescript app
  front-end/.gitignore
  front-end/.gitlab-ci.yml
  front-end/README.md
  front-end/babel.config.cjs
  front-end/eslint.config.js
  front-end/index.html
  front-end/package-lock.json
  front-end/package.json
  front-end/public/vite.svg
  front-end/src/App.css
  front-end/src/App.tsx
  front-end/src/assets/react.svg
  front-end/src/index.css
  front-end/src/main.tsx
  front-end/src/test/App.test.tsx
  front-end/src/vite-env.d.ts
  front-end/tsconfig.app.json
  front-end/tsconfig.json
  front-end/tsconfig.node.json
  front-end/tsconfig.tsbuildinfo
  front-end/vite.config.ts
Due: trigger module 2/2

test 1
  front-end/.gitlab-ci.yml
Due: trigger module 2/2

init spring project
  back-end/.gitattributes
  back-end/.gitignore
  back-end/build.gradle
  back-end/gradle/wrapper/gradle-wrapper.jar
  back-end/gradle/wrapper/gradle-wrapper.properties
  back-end/gradlew
  back-end/gradlew.bat
  back-end/settings.gradle
  back-end/src/main/java/com/example/demo/DemoApplication.java
  back-end/src/main/resources/application.properties
  back-end/src/test/java/com/example/demo/DemoApplicationTests.java
  front-end/.gitlab-ci.yml
Due: trigger module 1/2, trigger module 2/2

spring checkstyle
  back-end/.editorconfig
  back-end/.gitattributes
  back-end/.gitlab-ci.yml
  back-end/build.gradle
  back-end/config/naver-checkstyle-rules.xml
  back-end/config/naver-checkstyle-suppressions.xml
Due: trigger module 1/2

chmod 777 ./gradlew
  back-end/.gitlab-ci.yml
Due: trigger module 1/2

add docker image
  back-end/.gitlab-ci.yml
  front-end/.gitlab-ci.yml
Due: trigger module 1/2, trigger module 2/2

gradle to openjdk-17
  back-end/.gitlab-ci.yml
Due: trigger module 1/2

init vite react-ts
  front-end/.gitignore
  front-end/README.md
  front-end/babel.config.cjs
  front-end/package-lock.json
  front-end/package.json
  front-end/src/test/App.test.tsx
  front-end/tsconfig.tsbuildinfo
Due: trigger module 2/2

install package+ test code without jsx
  front-end/package-lock.json
  front-end/package.json
  front-end/src/__test__/App.test.tsx
Due: trigger module 2/2

Jest test
  front-end/README.md
  front-end/jest.config.ts
  front-end/package-lock.json
  front-end/package.json
  front-end/src/__test__/App.test.tsx
  front-end/src/__test__/__mocks__/fileMock.js
  front-end/tsconfig.app.json
  front-end/tsconfig.json
Due: trigger module 2/2

react success
  front-end/.gitignore
  front-end/README.md
  front-end/eslint.config.js
  front-end/eslint.config.mjs
  front-end/index.html
  front-end/jest.config.ts
  front-end/package-lock.json
  front-end/package.json
  front-end/public/favicon.ico
  front-end/public/index.html
  front-end/public/logo192.png
  front-end/public/logo512.png
  front-end/public/manifest.json
  front-end/public/robots.txt
  front-end/public/vite.svg
  front-end/src/App.css
  front-end/src/App.test.tsx
  front-end/src/App.tsx
  front-end/src/__test__/App.test.tsx
  front-end/src/__test__/__mocks__/fileMock.js
  front-end/src/assets/react.svg
  front-end/src/index.css
  front-end/src/index.tsx
  front-end/src/logo.svg
  front-end/src/main.tsx
  front-end/src/react-app-env.d.ts
  front-end/src/reportWebVitals.ts
  front-end/src/setupTests.ts
  front-end/src/vite-env.d.ts
  front-end/tsconfig.app.json
  front-end/tsconfig.json
  front-end/tsconfig.node.json
  front-end/vite.config.ts
Due: trigger module 2/2

Update .editorconfig
  back-end/.editorconfig
Due: trigger module 1/2

Path conditions:
  trigger module 1/2: any of: back-end/**/*
  trigger module 2/2: any of: front-end/**/*
